@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap');

/* HEADER */

* {
  box-sizing: content-box;
}

.hideImg {
  display: none;
}

.showImg {
  visibility: visible;
}

.hide {
  /* visibility: hidden; */
  opacity: 0;
}

.show {
  /* visibility: visible; */
  opacity: 1;
}

.body {
  background-color: #2F2F2F;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

header {
  background: url(../assets/images/leaves_4.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 600px;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-name {
  width: 960px;
  height: 350px;
  margin-left: 43px;
  margin-top: 59px;
}

.name-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: url(../assets/images/Batumi\ 10.04.2022.jpg);
  background-size: cover;
  background-position: 20%;
}

.name-container>h1 {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 97px;
  line-height: 114px;
  letter-spacing: 0.05em;
}

.proffesion-container h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 70px;
  line-height: 82px;
  color: #FFFFFF;
}

.profile-photo {
  margin: 59px 142px 0px 0px;
}

/* INFO BLOCK */

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.content-block {
  margin-top: 60px;
  background-color: #FFFFFF;
  display: flex;
  border-radius: 40px;
}

.content-block-title {
  display: flex;
  width: 483px;
  border-radius: 0px;
  background-color: #0000000c;
  justify-content: center;
  align-items: center;
}

.content-block-title h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #000000;
}

.content-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.content-block-content-elem p {
  margin: 14px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 4px;
}

.content-block-content-elem>.p1 {
  font-size: 33px;
  color: #343434;
}

.content-block-content-elem>.p2 {
  font-size: 25px;
  color: #343434;
}

.content-block-content-elem>.p3 {
  font-size: 25px;
  color: #73808D;
}

/* HARD SKILLS */

.hard-skills-block {
  height: 380px;
}

.skills-container {
  margin-left: 20px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  /* opacity: 0; */
  transition: opacity 0.5s;
}

.skills-container p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 4px;
}

.skills-container .procent {
  font-weight: 200;
}

.skill-info-contaner {
  display: flex;
  justify-content: space-between;
}

.skill-info-contaner p {
  margin: 0;
}

.progress-container {
  height: 8px;
  width: 600px;
  border-radius: 50px;
  background: #787878;
}

.progress-container .progress {
  width: 0%;
  height: 100%;
  border-radius: 50px;
  transition: width 1s;
}

.progress-container .html {
  width: 100%;
  background: #CD5534;
}

.progress-container .css {
  width: 90%;
  background: #4697F7;
}

.progress-container .js {
  width: 75%;
  background: #EBD94D;
}

.progress-container .react {
  width: 35%;
  background: #82D7F7;
}

/* EDUCATION */

.education-block {
  height: 400px;
}

/* EXPIRIENCE */

.expirience-block {
  height: 262px;
}

/* SOFT SKILLS */
.soft-skills-block {
  height: 390px;
}

.soft-skills-block-elem p {
  letter-spacing: 8px;
  margin: 30px;
}

/* LANGUAGES */
.language-block {
  height: 215px;
}

.language-block-elem p {
  letter-spacing: 8px;
  margin: 30px;
}

/* PORTFOLIO */

.portfolio-block {
  height: 400px;
  display: flex;
  column-gap: 50px;
}

.arrow-container {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background: url("../assets/icons/arrow_icon.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
}

.arrow-container:hover{
  cursor: pointer;
}

.portfolio-block-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio-links-container {
  opacity: 0.5;
  width: 500px;
  height: 400px;
  transition: opacity 0.5s;
  display: flex;
}
.portfolio-links-container img{
  object-fit: cover;
  width: 500px;
  height: 400px;
}
.portfolio-links-container:hover{
  cursor: pointer;
  opacity: 1;
}

.arrow-right {
  transform: rotate(180deg);
}

/* CONTACTS */

.contacts-block {
  height: 130px;
}

.contacts-block-elem a{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.contacts-block-elem img{
  width: 70px;
  height: 70px;
  transition: width 0.5s, height 0.5s;
}

.contacts-block-elem img:hover{
  width: 90px;
  height: 90px;
}

.contacts-block-elem{
  display: flex;
  padding-left: 65px;
}