@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@100;400&display=swap');

* {
  box-sizing: content-box;
}

.hideImg {
  display: none;
}

.showImg {
  visibility: visible;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.body {
  background-color: #2F2F2F;
  margin: 0 auto;
}

header {
  background: url(../assets/images/leaves_4.jpeg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;
  height: 80vh;
}

.header-content-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-name {
  width: 960px;
  height: 350px;
  margin-left: 43px;
  margin-top: 59px;
}

.name-container {
  display: flex;
  flex-direction: column;
}

.photo-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: url(../assets/images/Batumi\ 10.04.2022.jpg);
  background-size: cover;
  background-position: 20%;
}

.name-container>h1 {
  margin: 0;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 97px;
  line-height: 114px;
  letter-spacing: 0.05em;
}

.proffesion-container h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 70px;
  line-height: 82px;
  color: #FFFFFF;
}

.profile-photo {
  margin: 59px 142px 0px 0px;
}

.content-progress-bar {
  align-self: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #5a5a5a;
  height: 5px;
}

.content-progress-bar-progress {
  width: 0px;
  height: 5px;
  background-color: #4f9e05bc;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 1px;
}

.content-block {
  margin-top: 60px;
  background-color: #FFFFFF;
  display: flex;
  border-radius: 40px;
  transition: opacity 1s;
}

.content-block-title {
  display: flex;
  width: 483px;
  border-radius: 0px;
  background: url(../assets/images/leaves_4.jpeg);
  background-size: cover;
  background-position: 30%;
  justify-content: center;
  align-items: center;
  border-radius: 40px 0px 0 40px;
}

.blur {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px 0px 0 40px;
  width: 100%;
  height: 100%;
  text-align: center;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.2);
}

.content-block-title h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 200;
  font-size: 44px;
  line-height: 52px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.content-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 15px;
}

.content-block-content-elem p {
  margin: 14px;
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 4px;
}

.content-block-content-elem>.p1 {
  font-size: 33px;
  color: #343434;
}

.content-block-content-elem>.p2 {
  font-size: 25px;
  color: #C2C2C2;
}

.content-block-content-elem>.p3 {
  font-size: 25px;
  color: #73808D;
}

.hard-skills-block {
  height: 380px;
}

.skills-container {
  margin-left: 20px;
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  transition: opacity 0.5s;
}

.skills-container p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 4px;
}

.skills-container .procent {
  font-weight: 200;
}

.skill-info-contaner {
  display: flex;
  justify-content: space-between;
}

.skill-info-contaner p {
  margin: 0;
}

.progress-container {
  height: 8px;
  width: 600px;
  border-radius: 50px;
  background: #787878;
}

.progress-container .progress {
  width: 0%;
  height: 100%;
  border-radius: 50px;
  transition: width 1s;
}

.progress-container .html {
  width: 100%;
  background: #CD5534;
}

.progress-container .css {
  width: 90%;
  background: #4697F7;
}

.progress-container .js {
  width: 75%;
  background: #EBD94D;
}

.progress-container .react {
  width: 35%;
  background: #82D7F7;
}

.education-block {
  height: 400px;
}

.expirience-block {
  height: 262px;
}

.soft-skills-block {
  height: 390px;
}

.soft-skills-block-elem p {
  margin: 30px;
}

.language-block {
  height: 215px;
}

.language-block-elem p {
  letter-spacing: 8px;
  margin: 30px;
}

.portfolio-block {
  height: 400px;
  display: flex;
  column-gap: 50px;
}

.arrow-container {
  margin: 0 10px;
  width: 60px;
  height: 60px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 20%;

}

.arrow-left img {
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s;
}

.arrow-left img:hover {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.arrow-right img {
  width: 50px;
  height: 50px;
  transition: width 0.5s, height 0.5s;
}

.arrow-right img:hover {
  width: 55px;
  height: 55px;
  cursor: pointer;
}

.portfolio-block-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.portfolio-links-container {
  opacity: 0.5;
  width: 500px;
  height: 400px;
  transition: opacity 0.5s;
  display: flex;
}

.portfolio-links-container img {
  object-fit: cover;
  width: 500px;
  height: 400px;
}

.portfolio-links-container:hover {
  cursor: pointer;
  opacity: 1;
}

.arrow-right {
  transform: rotate(180deg);
}

.contacts-block {
  height: 130px;
}

.contacts-block-elem a {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
}

.contacts-block-elem img {
  width: 70px;
  height: 70px;
  transition: width 0.5s, height 0.5s;
}

.contacts-block-elem img:hover {
  width: 90px;
  height: 90px;
}

.contacts-block-elem {
  display: flex;
  padding-left: 65px;
}

.pdf-block {
  height: 330px;
  margin-bottom: 30px;
}

.pdf-block-elem img {
  width: 215px;
  height: 215px;
  transition: width 0.5s, height 0.5s;
}

.pdf-block-elem img:hover {
  width: 250px;
  height: 250px;
}

.pdf-block-content {
  display: flex;
  margin-left: 250px;
}

@media screen and (max-width: 1279px) {
  header {
    height: 350px;
  }

  .photo-container {
    width: 170px;
    height: 170px;
  }

  .name-container>h1 {
    font-weight: 500;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: 0.05em;
  }

  .proffesion-container h2 {
    margin: 0;
    font-size: 50px;
    line-height: 59px;
  }

  .profile-photo {
    margin: 44px 50px 0px 0px;
  }

  .header-content-container {
    align-items: normal;
  }

  .wrapper {
    width: 548px;
  }

  .content-block {
    flex-direction: column;
  }

  .blur {
    backdrop-filter: none;
    border-radius: 40px 40px 0 0;
    background-color: rgba(255, 255, 255, 0.1);
  }

  .content-block-title {
    width: auto;
    border-radius: 40px 40px 0 0
  }

  .content-block-title h2 {
    font-size: 44px;
    line-height: 52px;
  }

  .progress-container {
    width: 490px;
  }

  .hard-skills-block {
    height: 420px;
    row-gap: 25px;
  }

  .content-block-title {
    height: 75px;
  }

  .skills-container p {
    font-size: 25px;
  }

  .skill-info-contaner {
    padding-right: 20px;
  }

  .education-block {
    height: 450px;
  }

  .content-block-content-elem p {
    margin: 10px;
  }

  .content-block-content-elem>.p1 {
    font-size: 25px;
    line-height: 25px;
  }

  .content-block-content-elem>.p2 {
    font-size: 20px;
    line-height: 18px;
    color: #C2C2C2;
  }

  .content-block-content {
    margin-left: 10px;
  }

  .expirience-block {
    height: 165px;
  }

  .soft-skills-block-elem {
    display: flex;
    row-gap: 5px;
    flex-direction: column;
  }

  .language-block-content {
    margin-top: 5px;
  }

  .portfolio-block {
    column-gap: 0px;
    height: 580px;
  }

  .portfolio-block-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }

  .arrow-left {
    order: 2;
  }

  .arrow-right {
    order: 3;
  }

  .portfolio-links-container {
    order: 1;
  }

  .arrow-container {
    display: flex;
    align-items: center;
    margin: 0 80px;
  }

  .contacts-block {
    height: 285px;
  }

  .contacts-block-content {
    display: flex;
  }

  .contacts-block-elem {
    display: flex;
    padding-left: 126px;
    padding-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .pdf-block-content {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }

  .pdf-block-elem img:hover {
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 767px) {
  header {
    height: 200px;
  }

  .name-container {
    margin-bottom: 5px;
  }

  .name-container>h1 {
    font-weight: 500;
    font-size: 35px;
    line-height: 35px
  }

  .proffesion-container h2 {
    margin: 0;
    font-size: 24px;
    line-height: 31px;
  }

  .profile-name {
    margin-left: 18px;
    margin-top: 37px;
  }

  .profile-photo {
    margin: 24px 26px 0px 0px;
  }

  .photo-container {
    width: 100px;
    height: 100px;
  }

  .content-block {
    margin-top: 30px;
  }

  .wrapper {
    width: 320px;
  }

  .content-block-title {
    height: 60px;
  }

  .content-block-title h2 {
    font-size: 30px;
  }

  .content-block-content {
    margin-left: 5px;
  }

  .skills-container {
    row-gap: 10px;
    margin-left: 10px;
  }

  .skills-container p {
    font-size: 20px;
  }

  .progress-container {
    width: 290px;
  }

  .hard-skills-block {
    height: 320px;
    row-gap: 10px;
  }

  .skill-info-contaner {
    padding-right: 10px;
  }

  .content-block-content-elem p {
    margin: 5px;
  }

  .content-block-content-elem>.p1 {
    font-size: 20px;
    line-height: 20px;
  }

  .content-block-content-elem>.p2 {
    font-size: 18px;
    line-height: 18px;
  }

  .content-block-content-elem>.p3 {
    font-size: 18px;
    line-height: 18px;
  }

  .education-block {
    height: 360px;
  }

  .expirience-block {
    height: 130px;
  }

  .soft-skills-block {
    height: 290px;
  }

  .language-block {
    height: 170px;
  }

  .language-block-elem p {
    margin: 6px 5px;
  }

  .portfolio-block {
    height: 426px;
  }

  .portfolio-links-container img {
    width: 320px;
    height: 280px;
  }

  .portfolio-block-content {
    margin: 0;
  }

  .portfolio-links-container {
    height: auto;
  }

  .arrow-container {
    margin: 0 20px;
  }

  .contacts-block-elem a {
    width: 90px;
    height: 90px;
  }

  .contacts-block-elem {
    display: flex;
    padding-left: 28px;
    padding-right: 0px;
  }

  .contacts-block-content {
    margin-top: 10px;
  }

  .pdf-block {
    height: 250px;
  }

  .pdf-block-elem img {
    width: 155px;
    height: 155px;
  }

  .pdf-block-elem img:hover {
    width: 165px;
    height: 165px;
  }
}